.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(193, 188, 188, 0.1);
}

.titulo {
  color: blue;
  text-align: center;
  font-size: 3rem;
}

.img {
  max-width: 600px;
  margin-bottom: 1rem;
}

.campo {
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.input {
    width: 100%;
  border-radius: 4px;
  background-color: #d8d1d1;
  display: flex;
  flex-direction: column;
  padding: .3rem;
}



.formulario {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.button{
    background-color: #4CAF50;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: .5rem;
    width: 5rem;
    color: #d8d1d1;
    cursor: pointer;
    
}

footer{
    background-color: #d4d6d4b9;
    text-align: right;
    width: auto;
}